<div class="background" id="backgroundDiv">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card p-3">
                <h1 class="card-title text-center">About Us</h1>
                <p class="card-text text-center">This site is a music streaming service that allows users to listen to
                    music for free. Created by Owen van der Zwan and Jasmine Jasani, two motivated coding bootcamp
                    students with a passion in music.</p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>