<div class="background" id="backgroundDiv">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card p-4">
                <h1 class="card-title text-center">FAQ</h1>
                <p class="card-text text-center fs-3">What is this Site?</p>
                <p class="card-text text-center">This site is a music streaming service that allows users to listen to
                    music for free.</p>
                <p class="card-text text-center fs-3">How do I listen to music?</p>
                <p class="card-text text-center">To listen to music, simply click on the song you want to listen to and
                    it will start playing.</p>
                <p class="card-text text-center fs-3">How do I create an account?</p>
                <p class="card-text text-center">To create an account, click on the login button in the top right corner
                    of the page and then click on the sign up button.</p>
                <p class="card-text text-center fs-3">How do I log in?</p>
                <p class="card-text text-center">To log in, click on the login button in the top right corner of the
                    page and then enter your username and password.</p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>