<div class="background" id="backgroundDiv">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div class="container-fluid mt-2">
    {{!-- search entry --}}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card bg-light shadow-dark mb-4 p-2" id="searchDiv">
                <form>
                    <div class="mb-3">
                        <input type="text" placeholder="Search" class="form-control" id="searchInput" name="search"
                            required>
                    </div>
                    <button type="submit" class="btn btn-dark" id="searchBtn">Search</button>
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="card bg-light shadow-dark" id="recentSongsDiv">
                <h1 class="text-dark" id="recentSongsTitle">Latest Songs</h1>
                <!-- Song Cards -->
                {{#each songs as |song|}}
                {{#ifCond @index '<' 5}} <div class="card m-3 recentCard">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <iframe
                                src="https://www.youtube.com/embed/{{song.song_url}}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                                allowfullscreen allowtransparency allow="autoplay"></iframe>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title fs-6 latestSongTitle">{{song.song_title}}</h5>
                                <p class="card-text">{{song.artist.artist_name}}</p>
                                <!-- <p class="card-text"><small class="text-body-secondary">Date or Album</small></p> -->
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-dark m-2 playlistBtn" id="playlistButton"><i
                                    class="bi bi-music-note-list"></i></button>

                        </div>
                    </div>
            </div>
            {{/ifCond}}
            {{/each}}
        </div>
    </div>

    <!-- Browse Music -->
    <div class="col-8">
        <div class="card bg-light shadow-dark" id="browseMusicDiv">
            <h1 class="text-dark" id="browseMusicTitle">Browse Music</h1>
            <!-- Browse Music Cards -->
        </div>
    </div>
    <div class="col-2">
        <div class="card bg-light shadow-dark p-1" id="createPlaylistDiv">
            <h1 class="text-dark" id="createPlaylistTitle">Playlists</h1>
            <!-- Playlist Cards -->
            <input type="text" placeholder="Playlist Name" class="form-control mb-1" id="playlistName" name="playlist"
                required>
            <input type="text" placeholder="Playlist Description" class="form-control" id="playlistDescription" name="desc" required>
            <button class="btn btn-dark m-3" id="createPlaylistButton"><i class="bi bi-plus"></i></button>
        </div>

    </div>
</div>
</div>

</div>
<script src="./js/scriptMusic.js"></script>